# Application running port
PORT=5050

# PostgreSQL connection string 
# Format: postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=public
DATABASE_URL=

# Secret key for Better Auth go and click: https://www.better-auth.com/docs/installation: 
BETTER_AUTH_SECRET=

# Backend auth service URL
BETTER_AUTH_URL="http://localhost:5050"
APP_URL="http://localhost:3000"

# go mailtrap and generate it from there for mails
APP_USER=
APP_PASS=

#go and generate it from: https://console.cloud.google.com/apis/dashboard
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
